# Jupyter test
My first Jupyter file

In [23]:
import pandas as pd

In [18]:
import numpy as np

In [24]:
data = {'Country':['Sweden', 'India', 'Italy'], 'Capital': ['Stockholm', 'New Dehli', 'Rome']}
dataframe = pd.DataFrame(data, columns=['Country', 'Capital'])

In [25]:
dataframe

  Country    Capital
0  Sweden  Stockholm
1   India  New Dehli
2   Italy       Rome

In [26]:
dataframe.to_csv('captab.csv', index=False)

In [28]:
importtable=pd.read_csv('captab.csv')

In [29]:
importtable

  Country    Capital
0  Sweden  Stockholm
1   India  New Dehli
2   Italy       Rome

In [30]:
print(importtable)

  Country    Capital
0  Sweden  Stockholm
1   India  New Dehli
2   Italy       Rome